:root {
    --bgcl: hsl(0, 0%, 96%);
    --seccondary-color: hsl(0, 84%, 64%);
    --blue-color: hsl(210, 32%, 28%);
    --Lightblue-color: hsl(210, 32%, 50%);
    --dark-color: hsl(0, 0%, 7%);
}



body{
    background-color: var(--seccondary-color);
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: 0px;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    background-color: var(--blue-color);

    padding: 0px;
    margin: 0px;
    border: 0px;
}

::-webkit-scrollbar{
    display: none;
    height: 0px;
    width: 0px;
}



  /* gird layout stuff*/

.grid-position{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

  .page-layout-grid{
    display: grid;
    width: 80vw;
    max-width: 1200px;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(5, auto);
    justify-content: center;
    align-items: start;
    scrollbar-width: 0px;
    position: relative;
    overflow: hidden;
    overflow-wrap: break-word;
  }

  .grid-item{
    background-color: var(--blue-color);
    width: 100%;
    height: fit-content;
    overflow-wrap: break-word;
    max-width: 100%;
    padding: 20px;
  }

  .grid-item:nth-child(1){
    color: var(--bgcl);
    font-size: 40px;
    
  }

  .grid-item:nth-child(2){
    background-color: var(--bgcl)
  }

  .grid-item:nth-child(3){
    background-color: var(--Lightblue-color);
  }

  .grid-item:nth-child(4){
    background-color: var(--bgcl);
  }

  .grid-item:nth-child(5){
    background-color: var(--Lightblue-color);
  }

  section{
    font-weight: 600;
  }

  /* navbar */

  .navbar {
    width: 5%;
    min-width: 50px;
    max-width: 100px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 1000;
    position: fixed;
    background-color: var(--bgcl);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 1);
  }

  .nav-item {
    border: 3px solid black;
    display: flex;
    justify-content: center;
      align-items: center;
  }

  @media only screen and (max-width: 600px){
    .navbar{
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(1, 1fr);
      height: 5%;
      min-height: 50px;
      max-height: 100px;
      width: 100%;
      margin: 0px;
      box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.6);
    }

    .logo{
      margin-top: 0%;
      margin-left: -40%;
      height: 60%;
      width: fit-content;
      transform: translate(0px, -200px);

    }

    h1{
      font-size: 30px;
    }
  }

  .logo{
    position: absolute;
    margin: 0px;
    width: 50%;
    z-index: 1001;
  }